body {margin: 0; padding: 0;}
.gastr_tur{
    font-size: 40px;
    text-align: center;
}
.inter_map{
    padding: 0;
    margin: 0;
    text-align: center;
}
.map {
	position: relative;
	text-align: center;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.part {
	opacity: .3;
    z-index: 1;
}

.part:hover {
	transition: opacity .2s ease;
	opacity: .5;
	cursor: pointer;
}
.description {
	display: none;
	position: absolute;
	padding: 10px;
	box-sizing: border-box;
	width: 150px;
	height: 190px;
    top: 550;
	box-shadow: 0 0 32px 10px #ccc;
	left: 200px;
	bottom: calc(50% - 200px);
	font-family: sans-serif;
}

.description img {
	width: 100%;
	margin-bottom: 20px;
}