body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.gastr_tur{
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}
.inter_map{
    text-align: center;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
}
.language{
    text-align: right;
    margin-right: 10%;
}
.language img:hover{
    box-shadow: 0 0 10px 5px #23578d;
}
.language img{
    width: 32px;
    height: auto;
    border: 1px solid #23268d;
}
.language a{
    margin-left: 20px;
}
.map{
    position: relative;
    top:200px;
    text-align: center;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.part{
    opacity: .9;
    
}
.part:hover{
    -webkit-transition: opacity .2s ease;
    opacity: .5;
}

.description{
	display: none;
	position: absolute;
	padding: 10px;
    padding-bottom: 20px;
	box-sizing: border-box;
	width: 150px;
	height: 190px;
    top: -200;
	box-shadow: 0 0 32px 10px #ccc;
	left: 50%;
	bottom: calc(50% - 200px);
	font-family: sans-serif;
    }

.description img {
	width: 100%;
	margin-bottom: 20px;
}
    