body{
    background-color: white;
}
.menu{
    position: relative;
    z-index: 2;
}
.navbar-custom  .navbar-nav > li > a { 
	color: white;
	margin: 0px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700; 
	src: url('https://fonts.googleapis.com/css?family=Fira+Sans:700');
	font-style: normal; 
}
.navbar-custom  .navbar-nav > li > p { 
	color: #b7cf2f;
	padding-top: 15px;
	padding-left: 15px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700; 
	src: url('https://fonts.googleapis.com/css?family=Fira+Sans:700');
	font-style: normal; 

}
.navbar-custom { 
	margin: 0px;
	background-color: transparent;
    margin-bottom: -20px;
}
.navbar-custom  .navbar-brand { 
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;

}
.navbar-brand{
	width: 20%;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: -100px;

}
.navbar-brand img{
	width: 30px;

}
.navbar-custom  .navbar-brand:hover, .navbar-default .navbar-brand:focus { 
	color: #FF4500; 
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus { 
	color: #b7cf2f;
	background-color: transparent;

}
.navbar-custom .navbar-nav > li{
	padding-left: 10px;
}
.navbar-custom .navbar-nav > li > a{
	position: relative;
}
.navbar-custom .navbar-nav > li > a::before{
	content: '';
	width: 0px; 
	height: 2px;
	background-color: white;
	position: absolute;
	top: 80%;
	left: 0px;
	transition: 0.7s;
	
}
@media (max-width: 992px){
    .navbar-nav{
        font-size: 12px;
    }
}
.navbar-custom .navbar-nav > li > a::after{
	content: '';
	width: 0px; 
	height: 2px; 
	background-color: #b7cf2f;
	position: absolute;
	top: 80%;
	right: 0px;
	transition: 0.7s;
}
.navbar-custom .navbar-nav > li > a:hover::before{
	width: 50%;
	transform: translateX(100%);
}
.navbar-custom .navbar-nav > li > a:hover::after{
	width: 50%;
	transform: translateX(-100%);
}
.navbar-custom .navbar-toggle {
	border: none;
	background-color: none; 
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: white; 
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
	margin-left: 5px;
}
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #FF4500;

}

@media (max-width: 767px){
	.navbar-custom .navbar-nav > li > a::before{
		content: '';
		background-color: white;
		position: absolute;
		left: 0px;
		transition: 0.7s;
	}

	.navbar-custom{
	color: #b7cf2f;
	background-color: black;
	}
	.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus { 
	color: #b7cf2f;
	background-color: black;
	}
	.navbar-custom .navbar-nav > li > a::after{
		content: '';
		background-color: #b7cf2f;
		position: absolute;
		right: 0px;
		transition: 0.7s;
	}
	.navbar-custom .navbar-nav > li > a:hover::before{
		width: 50%;
		transform: translateX(100%);
	}
	.navbar-custom .navbar-nav > li > a:hover::after{
		width: 50%;
		transform: translateX(-100%);
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus { 
		color: #FF4500;
		background-color: black;
	}

}
.header{
    background-color: #10141d;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -52px;

}
@media (max-width: 991px){
    .header{
    top: -104px;
    }
}
@media (max-width: 767px){
    .header{
    top: -52px;
    }
}
.header_title{
    font-size: 97px;
    position: relative;
    font-family: 'Fira Sans', sans-serif;
}
@media (max-width: 466px){
    .header_title{
    font-size: 80px;
    }
    #header_arrow img{
    width: 53px;
    height: auto;   
    }
}
@media (max-width: 414px){
    .header_title{
    font-size: 50px;
    }
}
@media (max-width: 360px){
    .header_title{
    font-size: 30px;
    }
}
#header_arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 70px;
    height: 50px;
    margin-left: -30px;
    animation-name:arrow;
	animation-duration:1s;
	animation-iteration-count: infinite; 
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}
@keyframes arrow{
	from{
		bottom:50px;
	}
	to{
		bottom:70px;
	}
}
#place{
    width: 100%;
    height: 100vh;
    margin-top: -52px;
    color: #111e31;
    font-family: 'Fira Sans', sans-serif;
    background-color: #f8f8f8;
}
.bl3{
    width: 100%;
    color: #111e31;
    padding-top: 10%;
    padding-bottom: 0px;
    font-size: 55px; 
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif; 
}
@media (max-width: 991px){
    #place{
    margin-top: -104px;
    }
}
@media (max-width: 767px){
    #place{
    margin-top: -52px;
    }
}
@media (max-width: 466px){
    .bl3{
    font-size: 50px;
    }
}
@media (max-width: 414px){
    .bl3{
    font-size: 35px;
    }
}
@media (max-width: 360px){
    .bl3{
    font-size: 30px;
    }
}
.bl1{
    width: 750px;
    font-size: 24px; 
    font-family: 'Fira Sans', sans-serif;
    padding: 2px;
}
@media (max-width: 700px){
    .bl1{
    font-size: 20px;
    }
}
@media (max-width: 550px){
    .bl1{
    font-size: 15px;
    }
}
@media (max-width: 350px){
    .bl1{
    font-size: 10px;
    }
}
.bl2{
    padding: 2px;
}
.main{
    color: #111e31;
    padding-left: 20px;
    padding-right: 20px;
    display:-webkit-box;
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    padding-bottom: 100px;
    background-color: #f8f8f8;
}
a.button{
    color: black;
    font-size: 27px; 
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid black;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}
a.button:hover{
    color: #c6e714;
    background-color: #000000;
    text-decoration: none;
}
@media (max-width: 414px){
    a.button{
        display:block;
        margin: 0 auto;
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
}
@media (max-width: 300px){
    a.button{
    font-size: 15px;
    }
}
#sld{
    background-color: white;
    max-width:1138px;
    margin: 0px auto;
    
}

.n-img-responsive img{
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}
.n-img-responsive{
    margin: 10px;
    text-align: center;
    flex: 1 1 300px;
}
.row{
	margin-top: 50px;
	margin-bottom: 50px;
}
.col-md-4{
    text-align: center;
}
.col-md-4 p{
	padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.news{
    padding-bottom: 50px;
}
.button1{
    font-size: 18px;
    color: #111e31;
}
.button1:hover{
    color:#00abfe;
    text-decoration: none;
    transition: 0.3s;
}
.zag{
    font-size:55px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding-top: 50px;
}

.chempionat p{
    text-align: center;
    font-size: 30px;
    color: black;
}
#chempionat_title{
    max-width: 1302px;
    margin: 0px auto;
    background-image: url(../img/fly.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 75vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.button_Chelyabinsk{
    color: black;
    background-color: #c6e714;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 15px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.button_another_city{
    background-color: #e61b88;
    color: black;
    width: 377px;
    height: 66px;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 15px;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}
.button_Chelyabinsk:hover{
    text-decoration: none;
    color: #c6e714;
    background-color: #000000;
}
.button_another_city:hover{
    text-decoration: none;
    color: #e61b88;
    background-color: #000000;
}
.col-md-6{
    padding: 20px;
    margin: 0px;
    justify-content: center;
}
.news_1{
    margin: 20px;
}
@media (max-width: 767px){
    .button_Chelyabinsk, .button_another_city{
    font-size: 20px;
    }
}
@media (max-width: 360px){
    .button_Chelyabinsk, .button_another_city{
    font-size: 15px;
    }
}
.tit p{
    font-size:55px;
    padding: 0px;
    margin-bottom: 80px;
    font-family: 'Fira Sans', sans-serif;
}
.gh{
    background-color: #009eec;
    display:-webkit-box;
    display:-webkit-flex;
    display: -ms-flexbox;
    overflow: hidden;
    display: flex;
    color: black;
    flex-direction:row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    font-size:20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 75px;
    padding-bottom: 87px;
    font-family: 'Fira Sans', sans-serif;
    align-content: stretch;
}
.foot1{
    margin-right: 10%;
}
.foot2{
    margin-left: 10%;
}
@media (max-width: 632px){
    .foot2{
    margin-left: 0px;
    }
}
.foot1 a{
    color: black;
}
.foot1 a:hover{
    text-decoration:underline;
    transition: 0.3s;
}
.bl3{
    padding-right: 80px;
}
@media (max-width: 320px){
    .bl3{
    padding-right: 30px;
    }
}
@media (max-width: 360px){
    .bl3{
    padding-right: 70px;
    }
}
@media (max-width: 490px){
    .bl3{
    padding-right: 30px;
    }
}
@media (max-width: 1228px){
    .bl3{
    padding-right: 0px;
    }
}
.chempionat_title1{
    
    margin: 0px auto;
    background-image: url(../img/place1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.tit1 p{
    font-size: 55px;
    color: black;
    padding-left:10;
    padding-right: 10;
    font-family: 'Fira Sans', sans-serif;
}
#chempionat1{
    background-color: #c6e714;
    height: auto;
}
@media (max-width: 414px){
    .tit1 p{
    font-size: 45px;
    }
}
@media (max-width: 360px){
    .tit1 p{
    font-size: 40px;
    }
}
#fhon p{
    font-size: 55px;
    color: black;
    margin: auto 0;
    margin-bottom: 30px;
    text-align:  center;
    margin-top: 114px;
    font-family: 'Fira Sans', sans-serif;
}
@media (max-width: 414px){
    #fhon p{
    font-size: 45px;
    }
}
@media (max-width: 360px){
    #fhon p{
    font-size: 40px;
    }
}
.sorev{
    text-align: left;
    color: black;
    font-size: 24px; 
    padding-left:10;
    padding-right: 10;
    font-family: 'Fira Sans', sans-serif;

}
@media (max-width: 991px){
    .sorev p{
    font-size: 22px;
    }
}
@media (max-width: 767px){
    .sorev p{
    font-size: 20px;
    }
}
@media (max-width: 414px){
    .sorev p{
    font-size: 15px;
    }
}
@media (max-width: 360px){
    .sorev p{
    font-size: 14px;
    }
}
@media (max-width: 320px){
    .sorev p{
    font-size: 11px;
    }
}
@media (min-width:1200px){
    .sorev {
    width: 50%;
    }
}
#back-to-top{
    position:fixed;
    z-index: 999;
    display:none;
    bottom:70px;
    right:15px;
    cursor:pointer;
}
#back-to-top i{
    width: 50px;
    height: 50px;
    display:block;
    color: #fff;
    background: #000;
    opacity: .5;
    text-align:center;
    font-size:16px;
    line-height: 50px;
    border-radius: 5px;
    -webkit-transition:  .3s all;
       -moz-transition:  .3s all;
        -ms-transition:  .3s all;
         -o-transition:  .3s all;
            transition:  .3s all;
}
#back-to-top i:hover{
    background:#000;
    opacity:inherit
}
